* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #050415;
    font-weight: 600;
}

.sd {
    text-decoration: none;
    font-weight: 600;
    color: #c9c9c9;
    transition: 0.7s;
}

.sd:hover {
    color: #ff4d49;
    transition: 0.7s;
    text-decoration: none;
}

.main-container {
    padding-top: 100px;
    text-align: center;
    animation: transitionInDown 1s;
}

#copy {
    color: lightgreen;
    opacity: 0;
}

.author {
    color: #ff4d49;
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    color: white;
    text-align: center;
    animation: transitionInUp 1s;
}

/* Animacje */
@keyframes transitionInDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes transitionInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}