:root {
    --red-primary: #ff4d49;
    --gray-primary: #969494;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d0d0d;
    font-weight: 600;
    display: grid;
    place-items: center;
}

.fanthstudios-button {
    text-decoration: none;
    font-weight: 600;
    color: var(--red-primary);
    transition: 0.7s;
}

.fanthstudios-button:hover {
    filter: brightness(70%);
    transition: 0.7s;
    text-decoration: none;
}

.main-container {
    padding-top: 100px;
    text-align: center;
    animation: transitionInDown 1s;
}

#copy {
    color: var(--red-primary);
    opacity: 0;
}

.author {
    color: var(--red-primary);
    cursor: pointer;
    transition: 0.7s;
}

.author:hover {
    transition: 0.7s;
    filter: brightness(70%);
}

.logo {
    width: 100%;
    max-width: 900px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    color: var(--gray-primary);
    text-align: center;
    animation: transitionInUp 1s;
}

/* Animacje */
@keyframes transitionInDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes transitionInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}